
.Settings{
  height: 100px;
  background-color: #fff;
  left: 0;
  right: 0;
  bottom: 60px;
  position: fixed;
  box-shadow: 0px 10px 18px 4px #000;
}

.Settings.hide{
  display: none;
}

.Settings .menu {
  left:0;
  right: 0;
  top:0;
  height: 40px;
}

.Settings .menu .menu-item {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.Settings .menu .menu-item.active {
  border-top: 2px solid #FF2D55;
}

.Settings .menu .menu-item span {
  position: relative;
  top: 10px;
}

.Settings .menu-content {
  text-align: center;
}

.Settings .menu-content:not(.active) {
  display: none;
}

.Settings .menu-content.active {

}


.Settings .menu-content .btn {
  width: 40px;
  height: 40px;
}

.Settings .menu-content span.num {
  padding: 0px 12px;
  font-size: 18px;
}

.Settings .audio-speed {
  color: #939da3;
  margin-top: 14px;
}

.Settings .audio-speed span.active {
color: #000;
}
